* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  background-color: rgba(28, 28, 28, 1);
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.header-container {
  background-image: url(images/logo.png);
  width: 100%;
  max-width: 550px;
  height: 208px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-size: 2.45em;
  font-weight: 820;
}

.header-watchlist-link {
  font-size: 0.9em;
  font-weight: bold;
}

form.search-bar {
  display: flex;
  justify-content: center;
  margin: -1.25em 0 -1.25em 0;
  color: rgba(156, 163, 175, 1);
}

input.search,
#search-icon {
  color: rgb(165, 165, 165, 1);
  background-color: rgba(46, 46, 47, 1);
  border: none;
  outline: none;
}

#search-icon {
  border-radius: 5px 0px 0px 5px;
  padding: 0.75em;
}

input.search {
  width: 50%;
  max-width: 305px;
}

button.search-btn {
  border: none;
  background-color: rgba(75, 75, 75, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  width: 50%;
  max-width: 120px;
}

.movie-list {
  background-color: rgba(18, 18, 18, 1);
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  height: auto;
  min-height: 500px;
}

#film-icon {
  color: white;
  background-color: rgba(18, 18, 18, 1);
  color: rgba(46, 46, 46, 1);
  font-size: 4.65em;
  padding-top: 1.75em;
}

#plus-icon {
  color: #ffffff;
  width: 1.15em;
  height: 1.15em;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.start-exploring {
  color: rgba(46, 46, 46, 1);
}

h3.little-empty {
  color: #787878;
  padding-bottom: 1em;
}

.plus-icon-text {
  color: #ffffff;
  font-size: 0.9em;
  padding-left: 0.15em;
  font-weight: bold;
}

.plus-icon-container {
  display: flex;
  cursor: pointer;
}

.empty-watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}

.movie-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6em;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

img {
  width: 18%;
  height: auto;
  margin: 0 1.45em 0 2.78em;
}

p {
  color: white;
}

.cont {
  display: flex;
}

.flex-container-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}

.title-rating,
.time-genre {
  padding-bottom: 0.85em;
}

.movie-time,
.genre {
  padding-right: 0.85em;
  font-size: 0.75em;
  max-width: 50%;
  align-self: center;
}

.movie-title {
  font-size: 1.25em;
  padding-right: 0.25em;
  max-width: 80%;
}

.watchlist {
  font-size: 0.75em;
  align-self: center;
  background-color: rgba(18, 18, 18, 1);
  border: none;
  color: white;
  cursor: pointer;
}

.watchlist:active {
  background-color: rgb(70, 69, 69);
  border-radius: 10px;
  font-size: 0.77em;
}

.description {
  font-size: 0.9em;
  color: #a5a5a5;
  width: 90%;
}

.divider {
  color: white;
  border: 1.5px solid #2c2c2c;
  width: 84%;
  margin: 0 auto;
  margin-top: 1.15em;
}

.rating {
  justify-self: center;
  align-self: center;
  font-size: 0.75em;
  padding-top: 0.2em;
}

p.movie-not-found {
  color: #787878;
  line-height: 1.25em;
  font-size: 1.15em;
  font-weight: 700;
  width: 60%;
  text-align: center;
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
}
